{% extends 'homepage.html' %}
   <style type="text/css" >
        code{background:#f2f2f2 !important;border:1px solid #eee;line-height:1.5;padding:6px;font-size:18px;margin:5px;border-radius:4px !important;}
        p{line-height:40px}
        li{line-height:40px}
    </style>
{% block content %}
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-margin>
       <div class="uk-width-1-1">
            <article class="uk-article">
                <h1 class="uk-text-bold uk-article-title">{{ pos.title }}</h1>
                <p class="uk-article-meta">该日志由Macle发表于{{ pos.time }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标签：<a href="/select/{{ pos.tag }}"><i class="uk-icon-tag"></i>{{ pos.tag }}</a></p>
                <div class="uk-text-large" style="font-size:25px;" id="content">{{ pos.content|safe }}</div>
            </article>
       </div>
    </div>
</div>
{% endblock %}