<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Welcome to MacleRock</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/uikit.min.css', _external=True )}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/uikit.gradient.min.css', _external=True )}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/components/sticky.almost-flat.min.css', _external=True )}}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js', _external=True )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/js/uikit.min.js', _external=True )}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/js/components/sticky.min.js', _external=True )}}"></script>
    <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/highlight.js/9.6.0/highlight.min.js"></script>
    <link href="//cdn.bootcss.com/highlight.js/9.6.0/styles/googlecode.min.css" rel="stylesheet">

    <style type="text/css" >
        code{background:#f2f2f2 !important;border:1px solid #eee;line-height:1.5;padding:6px;font-size:18px;margin:5px;border-radius:4px !important;}
        p{line-height:40px}
        li{line-height:40px}
    </style>





</head>

<body>
<div class="uk-container-center uk-margin-top">
    <nav class="uk-navbar uk-navbar-attached" data-uk-sticky="">
        <ul class="uk-navbar-nav uk-hidden-small">
            <li><a href="/"><i class="uk-icon-home uk-icon-small"></i>主页</a></li>
            <li><a href="/blogs"><i class="uk-icon-book uk-icon-small"></i>日志</a></li>
            <li><a href="/tag"><i class="uk-icon-tag uk-icon-small"></i>标签</a></li>
        </ul>
        <a href="#data-offcanvas" class="uk-visible-small uk-navbar-toggle" data-uk-offcanvas></a>
        <a href="" class="uk-visible-small uk-navbar-center uk-navbar-brand" data-uk-offcanvas>MacleRock</a>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav uk-hidden-small">
                {% if 'username' not in session %}
                <li><a href="/sign" class="uk-button"><i class="uk-icon-sign-in uk-icon-small"></i>登陆</a></li>
                <li><a href="/signup" class="uk-button"><i class="uk-icon-user uk-icon-small"></i>注册</a></li>
                {% endif %}
                {% if 'username' in session %}
                <li><a href="/logout"><i class="uk-icon-sign-out uk-icon-small"></i>登出</a></li>
                <li>welcome {{ session['username'] }}</li>
                {% if session.get('admin') %}
                <li><a href="/posts" class="uk-button">写日志</a></li>
                <li><a href="/admin" class="uk-button">管理日志</a></li>
                <li><a href="/tag"><i class="uk-icon-tag uk-icon-small"></i>管理标签</a></li>
                <li><a href="/checkusers"><i class="uk-icon-user uk-icon-small"></i>管理用户</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
    <div class="uk-alert" data-uk-alert>
        <a href="" class="uk-alert-close uk-close uk-text-large uk-text-center uk-alert-success"></a>
        <p>{{ message }}</p>
    </div>

{% endfor %}
{% endif %}
{% endwith %}
{% block content %}
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-margin>
        <div class=" uk-width-1-1">
            {% for pos in post.items %}
                <article class="uk-article">
                    <h1 class="uk-text-bold uk-article-title" ><a href="/article/{{ pos.id }}">{{ pos.title }}</a></h1>
                    <p class="uk-article-meta">该日志由Macle发表于{{ pos.time }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标签：<a href="/select/{{ pos.tag }}"><i class="uk-icon-tag"></i>{{ pos.tag }}</a></p>
                    <div class="uk-text-large" style="font-size:25px" id="content">
                           {{ pos.abstr|safe }}
                    </div>
                    <br>
                    <div class="uk-container uk-contain-center">
                        <a href="/article/{{ pos.id }}" class="uk-button uk-button uk-button-large">点击阅读全文</a>
                    </div>
                </article>
                <hr class="uk-article-divider">
            {% endfor %}
        </div>
    </div>
    <div class="uk-container uk-container-center">
        <ul class="uk-pagination">
                {% for page in post.iter_pages() %}
                {% if page %}
                {% if page != post.page %}
                <li><a href="/index/{{ page }}">{{ page }}</a></li>
                {% else %}
                <li class="uk-active" ><span >{{ page }}</span></li>
                {% endif %}
                {% else %}
                <li><span>...</span></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
</div>


{% endblock %}



</body>
<footer>

</footer>

<div id="data-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">


            {% if 'username' in session %}
            <li><i class="uk-icon-user uk-icon-small"></i><span class="uk-text-bold" style="color:#ffffff">Welcome,{{ session['username'] }}</span></li>
            {% endif %}


            <li><a href="/"><i class="uk-icon-home uk-icon-small"></i>主页</a></li>
            <li><a href="/blogs"><i class="uk-icon-book uk-icon-small"></i>日志</a></li>
            <li><a href="/tag"><i class="uk-icon-tag uk-icon-small"></i>标签</a></li>
            {% if 'username' in session %}
            <li><a href="/logout"><i class="uk-icon-sign-out uk-icon-small"></i>登出</a></li>
            {% endif %}
            {% if 'username' not in session %}
            <li><a href="/sign"><i class="uk-icon-sign-in uk-icon-small"></i>登陆</a></li>
            <li><a href="/signup" class="uk-button" style="color:#000000"><i class="uk-icon-user uk-icon-small"></i>注册</a></li>
            {% endif %}
            {% if session.get('admin') %}
            <li><a href="/posts"><i class="uk-icon-book uk-icon-small"></i>写日志</a></li>
            <li><a href="/admin"><i class="uk-icon-sign-in uk-icon-small"></i>管理日志</a></li>
            <li><a href="/tag"><i class="uk-icon-tag uk-icon-small"></i>管理标签</a></li>
            <li><a href="/checkusers"><i class="uk-icon-user uk-icon-small"></i>管理用户</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</html>